# raspberryPI本体の定期POSTを行うcron設定の例です。
# 本設定は PI_setting.sh に設定を書き込んでから実行することで、
# root/env/crontabファイルに自動的に記述がされます。
# 詳しくはREADME.mdをご覧ください

# env より環境変数を読み込んでcronを実施 前回postと同じ内容なら処理停止がなされる
*/1 * * * *  root    export $(cat ~/env| xargs); bash /home/pi/local_mac_address_collect_post/arp-scan.sh

# 定期的に強制POSTを実施するcron
*/20 * * * *  root    export $(cat ~/env | cat ~/env.forced | xargs); bash /home/pi/local_mac_address_collect_post/arp-scan.sh

# 一日一回深夜にリブートさせる
0 3 * * *  root    /sbin/reboot
