# このファイルの値をセットし env のファイル名で、このディレクトリと
# root userのカレントディレクトリに作成します
net=eth0
community_id=unique_community_id
router_id=router_number_int
secret=secret_key_hash
post_url=https://www.livelynk.jp/inport_post/mac_address
