# raspberryPI本体の環境変数の例です。
# 本設定は PI_setting.sh の上部に設定を書き込んでから実行することで、
# root/env/crontabファイルに自動的に記述がされます。
# 詳しくはREADME.mdをご覧ください

# POSTの際のトリガーフラグです。このままとします。
trigger=everytime

# コミュニティ単位で指定された ID をセットします。
community_id=unique_community_id

# ルーターのIDであるユニークの数値をセットします。
router_id=router_number_int

# 指定されたハッシュ値をセットします。
secret=secret_key_hash

# POSTを行うurlを指定します。
post_url=https://www.livelynk.jp/inport_post/mac_address
