# env のファイル名で以下の変数設定を書いたファイルを、
# cronを実行させるファイルが存在するディレクトリと
# root userのカレントディレクトリに作成してください。

# 値は everytime のままとします。
trigger=everytime

# ifcongig で表示されたネットワークのタイプを設定します。 eth0 wlan 等
net=eth0

# コミュニティ単位で指定された ID をセットします。
community_id=unique_community_id

# ルーターのIDであるユニークの数値をセットします。
router_id=router_number_int

# 指定されたハッシュ値をセットします。
secret=secret_key_hash

# POSTを行うurlを指定します。
post_url=https://www.livelynk.jp/inport_post/mac_address
